html,
body,
#root {
  padding: 0;
  margin: 0;
  background: #fafafa;
}

* {
  font-family: 'DM Sans', sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: #373737;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
